section .news-box{
    border: 1px solid #ccc;
    height: 150px;
    overflow: scroll;
    padding: 3px;
}

section .news-box table {
    border: 0px;
}

section .news-box table td {
    border: 0px;
}

