.citation .title {
    font-style: italic;
}

/*
section li a:link, section li a:visited {
    color: #000;
    text-decoration: none;
}

section li a:hover {
    color: #444;
    text-decoration: underline;
}
*/

